@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@500&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chivo Mono', monospace;
  text-align: center;
  min-width: fit-content;
  background-color: #EAEAEA;
}


.App {
  display: flex;
  justify-content: center;
  min-width: fit-content;
}

.gallery-image {
  max-width: 250px;
  max-height: 250px;
}